<!-- <h1 align="center">Sistema para Controle de Assistencia Técnica</h1>
<hr>
Cadastro
<hr>

<%= link_to 'Clientes', clients_path %>
<%= link_to 'Serviço', services_path %>
<%= link_to 'Peças', parts_path %>
<%= link_to 'Ordem de Serviço', parts_path %>
 -->