<h1>Sistema para Controle de Assistencia Técnica</h1>

<h3>Escolha uma opção</h3>

Cadastro<br>
---------------------------------------------------
<br>
<%= link_to 'Clientes', clients_path %>
<%= link_to 'Serviço', services_path %>
<%= link_to 'Peças', parts_path %>